body {
  color:black;
  background-color: oldlace;
}

.newsprint {
	background-color: white;
	font-family: serif;
	padding: 12px 12px 12px 12px;
	font-size: 11px;
}

#navigation {

	font-size: 24px;
}
#pac-input {
	width: 16em;
	height: 2em;
}
