body {
  color:black;
  background-color: oldlace;
}

.newsprint {
	background-color: white;
	font-family: serif;
	padding: 12px 12px 12px 12px;
	font-size: 11px;
}

#navigation {

	font-size: 24px;
}
#pac-input {
	width: 16em;
	height: 2em;
}
figcaption {
	text-transform: uppercase;
}

figure {
    text-align: center;
    display: table;
    max-width: 30%; /* demo; set some amount (px or %) if you can */
    margin: 10px auto; /* not needed unless you want centered */
}
